body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #222;
	color: white;
}

.container {
	text-align: center;
	background: black;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

.botoes button {
	font-size: 1.5rem;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}

.botoes button:hover {
	background-color: gray;
}

#resultado {
	font-size: 1.5rem;
	margin-top: 20px;
}